@{
    Layout = null;
}

<link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />

<div class="mx-auto w-50 text-center">
    <h2>Sorry, an error occurred!</h2>
    <p>Please try again later</p>
</div>


