<div id="file-explorer" class="container">
    <div class="form-group row">
        <input id="file-explorer-search" class="form-control col-md-10" type="search" name="search" placeholder="Search" aria-label="Search" autocomplete="off" />
        <input id="file-explorer-add-file" multiple type="file" class="d-none" />

        <div class="col-md-2 justify-content-around">
            <button type="button" class="btn btn-outline-secondary ml-1" onclick="document.getElementById('file-explorer-add-file').click()">Add File</button>
            <button type="button" image="Sync" image-classes="p-1" class="btn btn-outline-success ml-1" onclick="fileExplorer.loadServerFiles();">Reload</button>
        </div>
    </div>

    <div id="file-explorer-settings" class="row">
        <span class="text-black-50 col">Settings</span>
        <div class="custom-control custom-switch col">
            <input type="checkbox" class="custom-control-input" id="file-explorer-cbox-preview-images">
            <label class="custom-control-label" for="file-explorer-cbox-preview-images">Show preview images</label>
        </div>
    </div>

    <div>
        <ul id="file-explorer-files" class="list-group">
        </ul>
    </div>
</div>

<script src="~/source/GUICreation.js"></script>
<script src="~/source/FileExplorer.js"></script>

<script>
    const fileExplorer = new FileExplorer('file-explorer');

    fileExplorer.ImageUrl = "@Url.Action("GetFiles", "File")";
    fileExplorer.DeleteFileUrl = "@Url.Action("DeleteFile", "File")";
    fileExplorer.UploadUrl = "@Url.Action("UploadFiles", "File")";

    fileExplorer.CreatePreviewImageURL = (file) => {
        if ('URL' in file) {
            return file.URL + "?width=80&height=80&keepRatio=true&imbedInBackground=true";
        } else {
            return ""
        }
    }
    fileExplorer.loadServerFiles();
</script>
 