<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="~/css/KnowledgeDB.css" />

    @await RenderSectionAsync("Styles", required: false)
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-md">
        <a class="navbar-brand" asp-action="List" asp-controller="Article"><span translate-key="placeholder_sitename"></span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mr-auto">
                @await Component.InvokeAsync("TagNavigationMenu", new { showEntries = 4 })
            </div>

            @await Html.PartialAsync("_LoginPartial")

            <form class="form-inline my-2 my-lg-0 d-flex" asp-controller="Article" asp-action="Search" method="get">
                <input class="form-control mr-2 w-auto flex-grow-1" type="search" name="search" placeholder="Search" aria-label="Search" autocomplete="off">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container-fluid">
        <div>
            @if (TempData["message"] != null)
            {
                <div class="row">
                    <div class="col alert @(TempData["messageClass"] ?? "alert-danger") ">
                        @TempData["message"]
                    </div>
                </div>
            }
            @if (IsSectionDefined("header_toolbar"))
            {
                <div id="headerToolbar" class="row justify-content-end m-3">
                    @await RenderSectionAsync("header_toolbar", required: false)
                </div>
            }
        </div>
        <div class="row m-1 p-1">

            <div class="col-xl-10 offset-xl-1" id="main">
                @RenderBody()
            </div>

            @if (IsSectionDefined("expanding_sidebar"))
            {
                <div class="col-xl" id="expanding_sidebar">
                    <aside>
                        @await RenderSectionAsync("expanding_sidebar", required: false)
                    </aside>
                </div>
            }
        </div>
    </div>

    <script type="module" src="~/js/Dialogs.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>