@*File Explorer*@
<div id="file-explorer" class="container d-none">
</div>

<script type="module" src="~/js/FileExplorer.js"></script>

<script>
    const fileExplorer = new FileExplorer();

    fileExplorer.ItemsPerPage = 2;
    fileExplorer.ShowItemsOnPages = true;


    let filter = new FileFilter();
    filter.fileType = "image";

    fileExplorer.setFilter(filter);

    fileExplorer.ImageUrl = document.getElementById("ImageURL").innerHTML;
    fileExplorer.DeleteFileURL = document.getElementById("DeleteFileURL").innerHTML;
    fileExplorer.UploadFileURL = document.getElementById("UploadURL").innerHTML;

    fileExplorer.CreatePreviewImageURL = (file) => {
        if ('URL' in file) {
            return file.URL + "?width=80&height=80&keepRatio=true&imbedInBackground=true&fast=true";
        } else {
            return ""
        }
    }

    fileExplorer.buildGUI();
    fileExplorer.refresh();
</script>
